.popup.filter-content__popup {
  @include objAbsoluteMiddle();
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999;

  .close_popup {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 35px;
    cursor: pointer;
    z-index: 99999;
    width: 35px;
  }

  .caption {
    position: absolute;
    z-index: 9999;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;

    p,a {
      color: #fff;
      margin: 0;
      @include animate(.3s);
    }

    a:hover {
      text-decoration: none;
      color: #007aff;
    }

  }

  .swiper-container {
      width: 100%;
      height: 100%;

    .swiper-slide {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);

      img {
        max-height: 80vh;
        border: 2px solid #fff;
        border-radius: 3px;
        overflow: hidden;
        max-width: 80vw;
        height: auto;
      }

    }

    .swiper-pagination-fraction {
      text-align: right;
      right: 10px;
      left: inherit;
        color: #fff;

      span {
        color: #fff;
      }

    }

  }

}

body.popup-opening:after {
    content: '';
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

@media screen and (orientation:landscape) and (max-height: 400px) {

  .popup.filter-content__popup .swiper-container .swiper-slide img {
    height: 65vh;
  }

}
