body {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;

  .circle {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    @include objAbsoluteMiddle();
    background: #000;
    @include borderCorner(50%);
    top: 65%;

    img {
        @include objAbsoluteMiddle();
        width: 100%
    }

  }

  &.fullscreen {
    overflow: hidden;
    height: 100vh;

    .page-content {
      display: none;
    }
  }

}
