body {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;

  .btn {
    @include borderCorner(0);
    background: transparent;
    @include FontRegular(15px, 1.2);
    color: orange;
    border: 2px solid orange;
    padding: 10px 40px;
    @include animate(.3s);
    cursor: pointer;

    &:hover {
      background: orange;
      color: #fff;
    }

  }

  .circle {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    @include objAbsoluteMiddle();
    background: #000;
    @include borderCorner(50%);
    top: 65%;

    img {
        @include objAbsoluteMiddle();
        width: 100%
    }

  }

  &.fullscreen {
    overflow: hidden;
    height: 100vh;

    .page-content {
      display: none;
    }
  }

  &.wrapper.active {

    &-about {
      .page-content__right--nav a[goto="about"]:after {
        height: 2px;
      }

    }

    &-contact {
      .page-content__right--nav a[goto="contact"]:after {
        height: 2px;
      }

    }

    &-portfolio {
      .page-content__right--nav a[goto="portfolio"]:after {
        height: 2px;
      }

    }

    &-resume {
      .page-content__right--nav a[goto="resume"]:after {
        height: 2px;
      }

    }

  }

}
