@import 'variables';
@import 'flex';
@import "bootstrap/breakpoints";
@import "bootstrap/pullright";
@import 'animate';
@import 'jquery.mCustomScrollbar.min';
@import "swiper.min";

@import 'font';
@import 'style';
@import 'header';
@import 'footer';
@import 'popup';

@import 'pages';
@import 'page/main';
@import 'page/main-page';
@import 'page/about';
@import 'page/contact';
@import "page/strength";
@import "page/portfolio";
@import "responsive";
