.page-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;

  &__left {
    width: 25%;
    height: 100%;
    position: fixed;
    @include gradient();
    top: 0;
    left: -320px;
    color: #fff;
    text-align: center;

    .circle {
      width: 200px;
      height: 200px;
      top: 55%;
    }

    h2 {
      @include FontRegular(32px, 1.4);
      text-transform: uppercase;
      margin-bottom: 0;
    }

    p {
      @include FontRegular(18px, 1.4);
    }

  }

  &__right {
    border-left: 5px solid #eee;
    -webkit-box-shadow: -10px 0px 20px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: -10px 0px 20px 0px rgba(0,0,0,0.04);
    box-shadow: -10px 0px 20px 0px rgba(0,0,0,0.04);
    position: absolute;
    width: 75%;
    right: -100%;
    background: #fff;
    height: auto;

    &--nav {
      margin: 30px auto 50px;
      width: 90%;

      a {
        text-transform: capitalize;
        color: #000;
        @include FontRegular(15px, 1.3);
        font-weight: bold;
        margin-right: 15px;
        position: relative;
        cursor: pointer;

        &:after {
          content: '';
          position: absolute;
          width: 50%;
          left: 0;
          right: 0;
          margin: auto;
          background: orange;
          height: 0;
          bottom: -5px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover, &:focus {
          text-decoration: none;
        }

        &:hover:after {
          height: 2px;
          background: #ccc;
        }

        &.active:after {
          height: 2px;
        }

      }

    }

    &--content {
      width: 90%;
      margin: auto;

      section {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
      }

      .section-content {

        .wrapper_title {

          .title {
            padding: 10px 20px 10px 50px;
            background-color: orange;
            color: #fff;
            line-height: 1.1em;
            font-weight: 500;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
            position: relative;
            margin: 0 0 0 -51px;
            display: inline-block;
            text-transform: capitalize;
            @include FontRegular(20px, 1.3);

            &:after {
              display: block;
              width: 5px;
              height: 100%;
              position: absolute;
              bottom: 5px;
              left: -5px;
              content: "";
              border: 1px solid orange;
              transform: skew(0deg,65deg);
              -ms-transform: skew(0deg,65deg);
              -webkit-transform: skew(0deg,65deg);
              -o-transform: skew(0deg,65deg);
              -moz-transform: skew(0deg,65deg);
              background: orange;
            }

          }

          span {
            @include FontRegular(12px, 1.3);
            color: #ccc;
            margin-left: 10px;
            text-transform: capitalize;
          }

          &--secondary {
            display: table;
            margin: 40px auto;

            .title {
              padding: 10px 25px 10px 30px;

              &:after {
                width: 0;
                background: transparent;
                display: none;
              }

            }

            span {
              text-transform: uppercase;
            }

          }

        }

        .description {
          margin-top: 30px;
          color: #000;
          @include FontRegular(13px, 1.4);
        }

      }

    }

  }

}
