.main-page {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .nav-main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    a {
      color: #000;
      text-transform: uppercase;
      @include FontRegular(1.7vw);
      font-weight: 700;
      position: absolute;
      z-index: 3;
      letter-spacing: 3px;
      @include animate(.5s);
      cursor: pointer;

      &:after {
        content: '';
        @include objAbsoluteMiddle();
        @include gradient();
        @include animate(.5s);
        width: 10px;
        height: 10px;
        opacity: 0;
        @include borderCorner(50%);
        z-index: -1;
      }

      &:hover {
        text-decoration: none;

        &:after {
            transform: scale(5) translate(-1px, -1px);
            opacity: 1;
        }

      }

      &:focus:after {
        opacity: 0;
      }

      &.about {
        left: 50%;
        margin-left: -4.3vw;
        top: 3vh;
      }

      &.strength {
        left: 50%;
        margin-left: -6vw;
        bottom: 3vh;
      }

      &.portfolio {
        left: -3vw;
        top: 50%;
        margin-top: -8px;
        @include Rotate(-90);
      }

      &.contact {
        right: -2vw;
        top: 50%;
        @include Rotate(90);
        margin-top: -8px;
      }

    }

  }

  /* content */
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;

    .name {
      @include objAbsoluteMiddle();
      top: 25%;
      @include FontRegular(4vw, 1.3);
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      display: table;
      width: auto;
      background-size: cover;

      .word {
        margin-right: .15vw;
        color: rgba(73,155,234,1);

        &:nth-child(10) {
          margin-right: 1vw;
        }

      }

    }

  }

}
