.section-portfolio.section-content {
  display: block;

  .filter {
    width: 100%;
    margin-top: 30px;

    &--nav {

      span {
        display: inline-block;
        @include FontRegular(14px, 1.2);
        margin-right: 5px;
        cursor: pointer;
        padding: 5px 10px;

        &:hover {
          background: #ccc;
        }

        &.mixitup-control-active {
          background: orange;
          color: #fff
        }

      }

    }

    &--content {
      margin-top: 30px;

      &__item {
        overflow: hidden;
        margin-bottom: 10px;
        padding-right: 0;

        .item_content {
          background: #000;
          height: 200px;
          @include animate(.3s);
          overflow: hidden;
          cursor: pointer;
          position: relative;
          z-index: 2;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.5);
            z-index: 3;
            opacity: 0;
            @include animate(.3s);
          }

          img {
            width: 100%;
            @include animate(.3s);
          }

          &:hover {

            &:after {
              opacity: 0.7;
            }

            img {
              transform: scale(1.8);
            }

            .item_content--box {
              bottom: 0;
            }

          }

          &--box {
            width: 100%;
            height: 50%;
            @include animate(.5s);
            z-index: 99;
            position: absolute;
            bottom: -200px;
            text-align: center;
            color: #000;

            h5 {
              @include FontRegular(18px, 1.2);
              text-transform: uppercase;
            }

            p {
              @include FontRegular(14px, 1.2);
            }

          }

        }

      }

      &__item:nth-child(n+4) {

        .item__content {
          margin-right: 0;
        }

      }

    }

  }

}
