.section-portfolio.section-content {
  display: none;

  .filter {
    width: 100%;
    margin-top: 30px;

    &--nav {

      span {
        display: inline-block;
        @include FontRegular(14px, 1.2);
        margin-right: 5px;
        cursor: pointer;
        padding: 5px 10px;

        &:hover {
          background: #ccc;
        }

        &.active {
          background: orange;
          color: #fff
        }

      }

    }

    &--content {
      margin-top: 30px;

      .btn {
        display: table;
        margin: auto;
      }

      &__item {
        overflow: hidden;
        margin-bottom: 30px;
        padding-right: 0;

        .item_content {
          background: #fff;
          //height: 200px;
          @include animate(.3s);
          overflow: hidden;
          cursor: pointer;
          position: relative;
          height: 200px;
          z-index: 2;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            background-color: rgba(0,0,0, 0.53);
            z-index: 3;
            opacity: 0;
            @include animate(.3s);
          }

          img {
            max-width: 80%;
            display: table;
            margin: auto;
            @include animate(.3s);
            max-height: 200px;
            @include objAbsoluteMiddle;
          }

          &:hover {

            &:after {
              opacity: 0.7;
            }

            img {
              transform: scale(1.3) translate(-40%,-35%);
            }

            .item_content--box {
              bottom: 0;
            }

          }

          &--box {
            width: 100%;
            height: 50%;
            @include animate(.3s);
            z-index: 99;
            position: absolute;
            bottom: -200px;
            text-align: center;
            color: #fff;

            h5 {
              @include FontRegular(18px, 1.2);
              text-transform: uppercase;
            }

            a {
              @include FontRegular(14px, 1.2);
              color: #fff;
            }

          }

        }

      }

      &__item:nth-child(n+4) {

        .item__content {
          margin-right: 0;
        }

      }

    }

  }

}
