.section-strength.section-content {
  display: none;

  .row__education, .coding {

    .title_small {
      @include FontRegular(20px, 1.4);
      display: table;
      line-height: 1.2;
      border-bottom: 2px solid #499bea;
      margin-bottom: 30px;
    }



    &--content {

      h4 {
        @include FontRegular(16px, 1.4);
        margin: 0;
        padding: 5px 13px 3px;
        display: table;
        background: #499bea;
        color: #fff;
        font-weight: bold;
      }

      h5 {
        @include FontRegular(15px, 1.4);
      }

      p {
        margin-bottom: 30px;
        @include FontRegular(13px, 1.4);
      }

      h5, p {
        padding-left: 20px;
      }

    }

  }

  .coding {

    .coding_bar {
      margin-bottom: 10px;

      h5 {
        @include FontRegular(18px, 1.2);
        text-transform: uppercase;
        margin: 0 0 5px 0;
      }

      .progress-bar-holder{
        width: 100%;
        border: 1px solid #ccc;
        padding: 2px;
        margin: 0;
        @include borderCorner(14px);
      }
      .progress-bar-blue {
        height: 5px;
        color: #fff;
        font-weight: bold;
        text-align: right;
        background: #499bea;
        width: 0px;
        @include borderCorner(20px);
      }

    }



  }

}
